

.grid {
	position: relative;
	text-align: center;
}

/* Common style */
.grid figure {
    position: relative;
    overflow: hidden;
    background: #3085a3;
    text-align: center;
}
.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
}

.grid figure figcaption {
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}


.grid figure figcaption, .grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(32, 71, 129, 0.42);
}
.grid figure figcaption:hover {
    background: rgba(22, 63, 124, 0.7);
}
/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
    color: #eee;
    padding-top: 1em;
}

/* Individual effects */